<div class="filter">
    <mat-form-field appearance="fill">
        <mat-label>{{'LABEL_NAME' | translate}}</mat-label>
        <input matInput [(ngModel)]="criteria.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'LABEL_STATUS' | translate}}</mat-label>
        <mat-select [(value)]="criteria.status">
            <mat-option>{{'LABEL_NONE' | translate}}</mat-option>
            <mat-option *ngFor="let status of statuses" 
                      [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'LABEL_SPECIES' | translate}}</mat-label>
        <mat-select [(value)]="criteria.species">
            <mat-option>{{'LABEL_NONE' | translate}}</mat-option>
            <mat-option *ngFor="let specie of speciesList" 
                      [value]="specie">
            {{specie}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'LABEL_GENDER' | translate}}</mat-label>
        <mat-select [(value)]="criteria.gender">
            <mat-option>{{'LABEL_NONE' | translate}}</mat-option>
            <mat-option *ngFor="let gender of genders" 
                      [value]="gender">
            {{gender}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>
