@import "../../../scss/styles";

.window {
    position: relative;
    max-height: 80vh;

    &__close {
        @include pos($r: 0, $t: 0);
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: $blue;
        }
    }
}