.loading {
    &::before {
        background: #fff;
        opacity: .8;
        z-index: 98;
    }
}

.mat-progress-spinner {
    @include align(true, true, fixed !important);
    z-index: 99;

    circle {
        stroke: $blue;
    }
}